
<mat-toolbar color="primary" class="app-header">
  <div><a href="admin/dashboard" target="_blank" class="lunchapp">LunchApp</a></div>
</mat-toolbar>

<div class="contentBody">
<mat-card>
  <mat-card-content>
    <div class="header">
      <P>Password Recovery </P>
    </div>
    <form (ngSubmit)="onPasswordReset()" name="loginForm" [formGroup]="passwordResetForm">
      <div class="emailInput">

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
          <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
          [attr.aria-pressed]="hide">
          <mat-icon>
              {{hide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
      </button>
      <mat-error *ngIf="!passwordResetForm.controls['password'].valid">
          Password is required
        </mat-error>
      </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input formControlName="password1" matInput [type]=" hide ? 'password' : 'text'" required />
          <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
          [attr.aria-pressed]="hide">
          <mat-icon>
              {{hide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
      </button>
      <mat-error *ngIf="!passwordResetForm.controls['password1'].valid">
          Password is required
        </mat-error>
      </mat-form-field>
      </div>
      <button mat-flat-button color="primary">Submit</button>
    </form>
  </mat-card-content>
</mat-card>
</div>
