
<div class="contentBody">
  <mat-card>
    <mat-card-content>
      <div class="header">
        <P>Provided Your Email Address</P>
      </div>
      <form (ngSubmit)="onEmail()" name="loginForm" [formGroup]="loginForm">
        <div class="emailInput">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              matInput
              placeholder="Enter email address" required
            />
            <mat-error *ngIf="!loginForm.controls['email'].valid">
                Email is required and must be valid
              </mat-error>
          </mat-form-field>
        </div>

        <button mat-flat-button color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
  </div>
