<div class="grid-container">
  <h1 class="mat-h1">Orders</h1>

  <div class="search-div">
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="on" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8 small-table">
    <table mat-table [dataSource]="listData" class="full-width-table" matSort aria-label="Elements">

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="orderDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Date</th>
        <td mat-cell *matCellDef="let row">{{row.orderDate}}</td>
      </ng-container>

      <ng-container matColumnDef="foodName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Food</th>
        <td mat-cell *matCellDef="let row">{{row.foodName}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost</th>
        <td mat-cell *matCellDef="let row">{{row.cost}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="totalNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Number</th>
        <td mat-cell *matCellDef="let row">{{row.totalNumber}}</td>
      </ng-container>

      <ng-container matColumnDef="destination">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Destination</th>
        <td mat-cell *matCellDef="let row">{{row.destination}}</td>
      </ng-container>
      <ng-container matColumnDef="orderby">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ordered By</th>
        <td mat-cell *matCellDef="let row">{{row.orderby}}</td>
      </ng-container>

      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
        <td mat-cell *matCellDef="let row">{{row.companyName}}</td>
      </ng-container>

      <ng-container matColumnDef="trackingStage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">
       <mat-chip-list>
        <mat-chip color="{{
          row.trackingStage === 'delivered' ? 'success':
          row.trackingStage === 'shipped' ? 'accent' :
          row.trackingStage === 'confirm' ? 'primary' :
          row.trackingStage === 'withRider' ? 'warn' :
          row.trackingStage === 'cancel' ? undefined :
          'warn'}}" selected>
           {{row.trackingStage}}
         </mat-chip>
       </mat-chip-list>
     </td>
    </ng-container>

      <ng-container matColumnDef="riderName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rider</th>
        <td mat-cell *matCellDef="let row">{{row.riderName}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
         <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
          <button mat-icon-button color="warn" (click)="onDelete(row.id)"><mat-icon>delete_outline</mat-icon></button>
         </td>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          No data.
        </mat-footer-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]=
      "{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
    </table>

    <mat-paginator #paginator
        [pageIndex]="0"
        [pageSize]="10"
        showFirstLastButtons
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page">
    </mat-paginator>
  </div>
</div>
