* {
    margin: 0;
    padding: 0;
  }
  
  article {
    width: 90%;
    margin: auto;
    height: 90%;
    background-color:  #00302E;
  }
  
  .cart_box img {
    width: 50px;
    height: 50px;
  }

  .section {
   height: 50px;
    margin-bottom:20px;
  }
  .cart_img {
    margin: 10px;
    display: flex;
    width: 400px;
  }

  .cart_img h2{
    margin: 10px;
    display: flex;
    width: 400px;
  }
  
  .cart_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid skyblue;
    padding-bottom: 5px;
  }
  
  .cart_box div:nth-child(2) button {
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .cart_box div:nth-child(3) button {
    padding: 5px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    outline: none;
    color: white;
    background-color: skyblue;
    border-radius: 5px;
    cursor: pointer;
  }
 

  .total {
    display: flex;
    justify-content: space-between;
  }
  
  .total span:nth-child(1) {
    font-size: 2rem;
    color: #FBDDBB;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .total span:nth-child(2) {
    font-size: 2rem;
    color: green;
    font-weight: bold;
    color: #FBDDBB;
  }