.example-card {
  padding-top: 90px;
   width: 600px;
   height: 350px;
   margin: auto;


}

.content-element {
  display: inline-block;
  width: 350px;
  position:absolute;
  right:0;
  margin: auto;
}
