
<mat-toolbar>
  <span>{{formService.companyForm.controls['id'].value?"Modify Company":"New Comapny"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>

<form [formGroup]="formService.companyForm" class="normal-form" (submit)="onSubmit()">

  <mat-grid-list cols="2" rowHeight="300px">

    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="id">
        <mat-form-field>
          <input formControlName="name" matInput placeholder="Name*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email">
          <mat-error>Invalid email address.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="phoneNumber" matInput placeholder="Phone Number">
          <mat-error>Incorrect Phone Number.</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <input formControlName="location" matInput placeholder="location*">
          <mat-error *ngIf="formService.companyForm.controls['location'].errors?.required">This field is mandatory.</mat-error>
          <mat-error *ngIf="formService.companyForm.controls['location'].errors?.minlength">Minimum 8 charactors needed.</mat-error>
        </mat-form-field>

        <div class="add-bottom-padding">
          <mat-radio-group formControlName="isActive">isActive
            <mat-radio-button value="1">true</mat-radio-button>
            <mat-radio-button value="2">false</mat-radio-button>
          </mat-radio-group>



        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="formService.companyForm.invalid">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
